
header {
    background: url(img/pattern.png) repeat-x rgb(4, 134, 209);
    height: 180px;
}

h1 {
    font-size: 1.5rem;
}
thead{
    background-color:rgb(4, 134, 209) ;
    color: white;
}
table {
    border-collapse: collapse;
    margin-top: 30px;
}

ul{
    margin: 0 0 0 0;
    padding-left: 1em;
}
.mark{
    background-color: yellow;
}

.odd{
    background-color: rgba(4, 134, 209, 0.5);
}

.smallsize{
    width: 25%;
    text-align: left;
}
#author{
    color: rgb(4, 134, 209);
} 

#date{
    font-size: 0.8rem;
}

#photo{
    font-size: 0.6rem;
}
#bigsize {
    width: 50%;
    text-align: left;
}

#logo {

    width: 25%;
    margin-top: 80px;
}
