header {
    background: url(img/pattern.png) repeat-x rgb(4, 134, 209);
    height: 180px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0%;
}

thead{
    background-color:rgb(4, 134, 209) ;
    color: white;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
}

ul{
    margin: 0 0 0 0;
    padding-left: 1em;
}

h4{
    color: lightgrey;
}

/* CLASS */

.mark{
    background-color: yellow;
}

.odd{
    background-color: rgba(4, 134, 209, 0.5);
}

.smallsize{
    width: 25%;
    text-align: left;
}

.img-position {
    height: 15rem;
    width: 15rem;
    background-position: center;
    color: white;
    padding-top: 2%;
    padding-left: 3%;  
}
/* ID */

#author{
    color: rgb(4, 134, 209);
} 

#date{
    font-size: 0.8rem;
}

#photo{
    font-size: 0.6rem;
}

#bigsize {
    width: 50%;
    text-align: left;
}

#logo {
    width: 25%;
    margin-top: 80px;
}

#graph {
    background: url(img/graph.jpg);

}

#monitor {
    background: url(img/monitor.jpg);
    margin-bottom: 5%;
}